<div id="wrapper">
<section id="edit">
  <!-- write form -->
	<form id="form_edit" method="post" action="/edit/<%= @post.id %>">
    <!-- <div class="title edit">
      <h2>EDIT HAIKU</h2>
    </div> -->
		<input class="input_t" type="text" name="line1" value='<%= @post.line1 %>' placeholder="line 1" required />
		<input class="input_t" type="text" name="line2" value='<%= @post.line2 %>' placeholder="line 2" required />
		<input class="input_t" type="text" name="line3" value='<%= @post.line3 %>' placeholder="line 3" required />
		<input id="edit_button" type="submit" value="UPDATE HAIKU" />
	</form>
</section>
</div>