<!-- Home page, main page after log-in

Option to toggle between:
10 most recent posts (all)
10 most recent posts (following) -->

<section id="home">
  <!-- center column: 10 recent posts, 10 recent following posts -->
</section>