<section id="landing" class="morning">
  <div id="logo">
    HAIKU
  </div>
  <div id="landing_box">
    <div class="haiku_top">
      <p>Whitecaps on the bay:</p>
      <p>A broken signboard banging</p>
      <p>In the April wind.</p>
    </div>
    <div class="haiku_bottom">
      <h3>RICHARD WRIGHT</h3>
    </div>
    <a class="button sign" href="/sign-up">SIGN UP</a>
    <a class="button sign" href="/sign-in">SIGN IN</a>
  </div>
</section>

<!-- Summer night -
even the stars
are whispering to each other.
- Isaa -->

<!-- Moonless night...
a powerful wind embraces
the ancient cedars.
Matsu Basho

The moon so pure
a wandering monk carries it
across the sand.
Matsu Basho



Night; and once again,
the while I wait for you, cold wind
turns into rain.
Masaoka Shiki

Whitecaps on the bay:
A broken signboard banging
In the April wind.
Richard Wright (1908-1960)

meteor shower
a gentle wave
wets our sandals
Michael Dylan Welch (1962- ) -->