<section id="landing">
  BACKGROUND IMAGE

  RANDOM HAIKU L1
  RANDOM HAIKU L2
  RANDOM HAIKU L3
  _______________
  AUTHOR

  <div class="button"><a href="/sign-up">SIGN UP</div>
  <div class="button"><a href="/sign-in">SIGN IN</div>
</section>