<section id="logo">
    HAIKU
</section>
<section id="landing" class="morning">
  <div id="landing_box">
    <!-- HAIKU -->
    <div class="haiku_top">
      <p>Whitecaps on the bay:</p>
      <p>A broken signboard banging</p>
      <p>In the April wind.</p>
    </div>
    <!-- HAIKU INFO -->
    <div class="haiku_bottom">
      <h3>RICHARD WRIGHT</h3>
    </div>
    <a class="button enter" data-iframe="/sign-up" href="#">SIGN UP</a>
    <a class="button enter" data-iframe="/sign-in" href="#">SIGN IN</a>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/sign-in-up.js"></script>