<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>HAIKU</title>
  </head>
  <body>
    <% if session[:user_id] %>
      <nav>
        <h1>HAIKU</h1>
        <ul>
          <li>
            <a href="/home">HOME</a>
          </li>
          <li>
            <a href="/profile"><%= current_user.name.upcase %></a>
          </li>
          <li><a href="/write">WRITE</a></li>
          <li><a href="/settings">SETTINGS</a></li>
          <li><a href="/sign-out">SIGN OUT</a></li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>

  </body>
</html>