<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>HAIKU</title>
  </head>
  <body>
    <% if session[:user_id] %>
      <nav>
        <div class="top">
           <section id="title">HAIKU</section>
        </div>
        <ul>
          <a href="/home">
            <li><h4>HOME</h4></li>
          </a>
          <a href="/profile">
          <li><h4>PROFILE</h4></li>
          </a>
          <a href="/write">
          <li><h4>WRITE</h4></li>
          </a>
          <a href="/settings">
          <li><h4>SETTINGS</h4></li>
          </a>
          <a href="/sign-out">
          <li><h4>LOG OUT</h4></li>
          </a>
        </ul>
      </nav>
    <% end %>


    <div id="wrapper">
        <%= yield %>
    </div>

  </body>
</html>