<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>HAIKU</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>HAIKU</li>
        <li>PROFILE (Replaced with users first name)</li>
        <li>WRITE</li>
        <li>SETTINGS</li>
        <li>LOG OUT</li>
      </ul>
    </nav>
    
    <%= yield %>

  </body>
</html>