<!-- Profile page

All posts, single column

Each post has time, edit, delete option
User info column/area

Name
Followers (count)
Following (count) -->

<section id="info">
  <!-- user info -->
</section>
<section id="posts">
  <!-- center column: haikus -->
</section>