<!-- Settings page
current user.

NAME
EMAIL
BIRTHDAY
PASSWORD
Edit button

Delete account button -->

<%= @user.name %>
<br>
<%= @user.email %>
<br>
<%= @user.bday %>
<br>
<%= @user.password %>


<section id="settings">
  <!-- ser info fields -->
  <form method="get" action="/settings">
	 <input class="input_write" type="text" placeholder="name" > </input>
	 <br>
	 <input class="input_write" type="text" placeholder="email" > </input>
	 <br>
	 <input class="input_write" type="text" placeholder="bday"> </input>
	 <br>
	 <input class="input_write" type="text" placeholder="password"> </input>
	 <br>
	 <br>
	 <br>
	<a  href="/settings"> SAVE CHANGES</a>
	 <br>	 <br>
	<a href="/delete-account"> DELETE ACCOUNT </a>
   </form>

</section>
 <br>