<!-- Settings page
current user.

NAME
EMAIL
BIRTHDAY
PASSWORD
Edit button

Delete account button -->
<!-- 
<%= @user.name %>
<br>
<%= @user.email %>
<br>
<%= @user.bday %>
<br>
<%= @user.password %>
 -->

<section id="settings">
  <!-- ser info fields -->
  <form method="get" action="/settings" id="form_settings">
		<input class="input_t" type="text" placeholder="name"></input>
		<input class="input_t" type="text" placeholder="email"></input>
		<input class="input_t" type="text" placeholder="bday"></input>
		<input class="input_t" type="text" placeholder="password"></input>
		<input class="input-t" type="submit" value="SAVE CHANGES" id="save_button" href="/settings"> </input>
		<input class="input-t" type="submit" value="DELETE ACCOUNT" id="delete_button" href="/delete-account"> </input>
  </form>

</section>
 <br>