<!-- Settings page
current user.

NAME
EMAIL
BIRTHDAY
PASSWORD
Edit button

Delete account button -->

<section id="settings">
  <!-- ser info fields -->
  <form method="post" action="/v">
	 <input class="input_write" type="text" placeholder="<%= @user.name %>" > </input>
	 <br>
	 <input class="input_write" type="text" placeholder="<%= @user.email %>" > </input>
	 <br>
	 <input class="input_write" type="text" placeholder="<%= @user.bday %>"> </input>
	 <br>
	 <input class="input_write" type="text" placeholder="<%= @user.password %>"> </input>
	 <br>
	 <br>
	 <br>
	<a href="/edit-settings"> DELETE ACCOUNT</a>
	 <br>	 <br>
	<a href="/delete-account/"> SAVE CHANGES </a>
   </form>

</section>
 <br>