<section id="landing" class="morning">
  <div id="logo">
    HAIKU
  </div>
  <div id="landing_box">
    <div class="haiku_top">
      <p>Whitecaps on the bay:</p>
      <p>A broken signboard banging</p>
      <p>In the April wind.</p>
    </div>
    <div class="haiku_bottom">
      <h3>RICHARD WRIGHT</h3>
    </div>
    <a class="button enter" href="/sign-up">SIGN UP</a>
    <a class="button enter" href="/sign-in">SIGN IN</a>
  </div>
</section>
<section id="sign">
  <form class="form sign" method="post" action="/sign-up">
    <div class="title sign">
      <h2>START WRITING</h2>
    </div>
    <input class="input sign" type="text" name="name" placeholder="name" required />
    <input class="input sign" type="email" name="email" placeholder="email" required />
    <input class="input sign" type="text" name="bday" placeholder="birthday" required />
    <input class="input sign" type="password" name="password" placeholder="password" required />
    <input class="button sign" type="submit" value="SIGN UP" />
  </form>
</section>