<section id="sign-up">
  <form method="post" action="/sign-up">
    <input type="text" name="name" placeholder="NAME">
    <input type="email" name="email" placeholder="EMAIL">
    <input type="text" name="bday" placeholder="BIRTHDAY">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="SIGN UP">
  </form>
</section>