<section id="sign-in">
  <form method="post" action="/sign-in">
    <input type="email" name="email" placeholder="EMAIL">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="SIGN IN">
  </form>
</section>