<section id="sign-in" class="morning">
  <div id="logo">
    HAIKU
  </div>
  <form id="sign_form" method="post" action="/sign-in">
    <input class="sign_input" type="email" name="email" placeholder="email" required />
    <input class="sign_input" type="password" name="password" placeholder="password" required />
    <input class="sign_button" type="submit" value="SIGN IN">
  </form>
</section>