<!-- Write page, stand-alone page

3 text inputs for haiku
post button
Notes:
No title, first line of haiku is title
Enter key advances to next field, submits if all fields are filled
 -->
<section id="write">
  <!-- write form -->
</section>