<!-- Write page, stand-alone page

3 text inputs for haiku
post button
Notes:
No title, first line of haiku is title
Enter key advances to next field, submits if all fields are filled
 -->
 <div id="wrapper">
	<section id="write">
	  <!-- write form -->
		<form id="form_write" method="post" action="/write">
			<input class="input_write" type="text" name="line1" placeholder="five syllables"></input>
			<input class="input_write" type="text" name="line2" placeholder="seven syllables"></input>
			<input class="input_write" type="text" name="line3" placeholder="five syllables"></input>
			<input id="button_write" type="submit" value="HAIKU"></input>
		</form>
	</section>
</div>