/* ============================================================
  FONTS
============================================================ */
@font-face {
    font-family: "Berthold Akzidenz Grotesk";
    src: url("/fonts/berthold akzidenz grotesk light osf.otf");
}

@font-face {
    font-family: "Replica-Regular";
    src: url("/fonts/replica regular.otf");
}

@font-face {
    font-family: "Replica-Bold";
    src: url("/fonts/replica bold.otf");
}

@font-face {
    font-family: "Replica-Light";
    src: url("/fonts/replica light.otf");
}

/* ============================================================
  GLOBAL (USED THROUGHOUT WEBSITE)
============================================================ */
p {
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 2px;
}

h1 {
  font-family: "Replica-Regular";
  font-size: 30pt;
  line-height: 2em;
  padding-top: 5px;
  padding-left: 30px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Replica-Regular";
  font-size: 24px;
  line-height: 2em;
  letter-spacing: 2px;
}

h3 {
  font-family: "Replica-Bold";
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 2px;
}

h4{
  font-family: "Replica-Light";
  font-size:11pt;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  margin: 0 auto 50px auto;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-family: "Replica-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.input {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #C1C1C1;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  /*border: solid 1px black;*/
  outline: none;
  background-color: white;
  font-family: "Replica-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.button:hover {
  background-color: #282f34;
  color: white;
}

header {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 80%;
  height: 48px;
  background-color: #282F34;
  border: solid #282F34;
  border-width: 0 1px;
  color: white;
  text-align: center;
}

section#container {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 80%;
  border: solid 1px #C1C1C1;
  padding-top: 50px;
}

/* ============================================================
  LANDING PAGE
============================================================ */
section#landing {
  height: 100vh;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.morning {
  background-image: url("/images/background1.jpeg");
}

#logo {
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-family: "Replica-Regular";
  font-size: 48px;
  letter-spacing: 4px;
}

#landing_box {
  position: absolute;
  top: 20vh;
  left: 55vw;
  text-align: center;
}

.button.enter {
  display: inline-block;
  /*border: 1px solid black;*/
  width: 140px;
  margin: 0 5px;
}

/* ============================================================
  SIGN-UP/SIGN-IN PAGES
============================================================ */
section#sign {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255,1);
  width: 32%;
  height: 100vh;
  text-align: center;
}

.form.sign {
  position: relative;
  top: 50vh;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.title.sign {
  width: 75%;
}

.input.sign {
  width: 75%;
}

.button.sign {
  border: 1px solid black;
  width: 75%;
  margin-top: 50px;
}

/* ============================================================
  HAIKU BOX
============================================================ */
.haiku_box {
  position: relative;
  margin: 0 auto 50px auto;
  width: 400px;
  border: solid 1px #C1C1C1;
  text-align: center;
}

.haiku_top {
  display: inline-block;
  border-bottom: solid 1px #C1C1C1;
  width: 250px;
  padding: 40px 0;
}

.haiku_bottom {
  margin: 10px 0 40px 0;
}

.haiku_box:hover .edit_corner {
  display: block;
}

.edit_corner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  display: none;
}

.edit_corner img {
  width: 15px;
  margin-left: 10px;
}

/* ============================================================
  LIKE COUNTER
============================================================ */
.like_counter {
  margin-top: 5px;
}

.like_counter img {
  width: 20px;
}

.like_button {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: -2px;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
}

.like_num {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: -2px;
  border-left: solid 1px #C1C1C1;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
}

/* ============================================================
  HOME PAGE
============================================================ */




/* ============================================================
  NAV / LAYOUT 
============================================================ */
nav {
  width: 16%;
  height: 700px;
  border-right: 1px solid #c1c1c1;
  float: left;
  position: fixed;
}

#title{
  font-family: "Replica-Regular";
  font-size: 30pt;
  padding-top: 5px;
  padding-left: 30px;
}

.top{
  width: 100%;
  height: 300px;
}

ul{
  float: left;
  margin: 0px;
  padding: 0px;
  height: 400px;
  width: 100%;
  /*background-color: #ccc;*/
}

li{
  margin: 0px;
  padding: 0px;
  height: 80px;
  border-right: none;
  border-left: none;
  border-top: 1px solid #c1c1c1;
  /*border: 1px solid black;*/
  list-style-type: none;
}

li:hover{
  background-color:#282f34;
  color: #fff;
}


#wrapper{
  width: 83%;
  height: 700px;
  margin-left:16%;
  float: left;
}

/* ============================================================
  PROFILE PAGE
============================================================ */




/* ============================================================
  WRITE PAGE
============================================================ */

#write{
  margin: 0 auto;
  width: 80%;
  height: 700px;
  border: 1px solid #c1c1c1;
}


#form_write{
 width: 60%;
  height: 500px;
  margin-left: 20%;
  margin-top: 30%;
}

.input_write{
  font-family: "Replica-Light";
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 1px solid #c1c1c1;
}

#button_write{
  font-family: "Replica-Regular";
  font-size: 13px;
  letter-spacing: 3px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 15%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}

#button_write:hover{
   letter-spacing: 2px;
   background-color: #000;
   color: #fff;
}

/* ============================================================
  EDIT HAIKU PAGE
============================================================ */


/* ============================================================
  SETTINGS PAGE
============================================================ */


.title.edit {
  width: 500px;
}

#settings{
  margin: 0 auto;
  width: 80%;
  height: 700px;
  border: 1px solid #c1c1c1;
}

#form_settings{
  width: 60%;
  height: 500px;
  margin-left: 20%;
  margin-top: 20%;
}

.input_t{
  margin-left: 10%;
  width: 80%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  text-align: center;
  font-family: "Replica-Light";
  letter-spacing: 2px;
  border-bottom: 1px solid #c1c1c1;
}


#edit_button{
  font-family: "Replica-Light";
  letter-spacing: 2px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 10%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}

#save_button{
  font-family: "Replica-Light";
  letter-spacing: 2px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 15%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
}

#save_button:hover{
  background-color:#282f34;
  color: #fff;
}

#delete_button{
  font-family: "Replica-Light";
  letter-spacing: 2px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  color: #c1c1c1;
}

#delete_button:hover{
  background-color: #ffb1b1;
  color: #fff;
}


/* ============================================================
  FOLLOW MODAL
============================================================ */
#modal {
  position: absolute;
  z-index: 20;
}
