/* ============================================================
  FONTS
============================================================ */
@font-face {
    font-family: "Berthold Akzidenz Grotesk";
    src: url("/fonts/berthold akzidenz grotesk light osf.otf");
}

@font-face {
    font-family: "Replica-Regular";
    src: url("/fonts/replica regular.otf");
}

@font-face {
    font-family: "Replica-Bold";
    src: url("/fonts/replica bold.otf");
}

@font-face {
    font-family: "Replica-Light";
    src: url("/fonts/replica light.otf");
}

/* ============================================================
  GLOBAL (USED THROUGHOUT WEBSITE)
============================================================ */
p {
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 2px;
}

h1 {
  font-family: "Replica-Regular";
  font-size: 30pt;
  line-height: 2em;
  letter-spacing: 2px;
}

h2 {
  font-family: "Replica-Regular";
  font-size: 20px;
  line-height: 2em;
  letter-spacing: 2px;
}

h3 {
  font-family: "Replica-Bold";
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
}

.form {
  position: relative;
  top: 50vh;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.title {
  margin: 0 auto 50px auto;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-family: "Replica-Regular";
  /*font-size: 13px;*/
  letter-spacing: 2px;
  text-align: center;
}

.input {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #C1C1C1;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border: solid 1px black;
  outline: none;
  background-color: white;
  font-family: "Replica-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

.button:hover {
  background-color: #282f34;
  color: white;
}

header {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 70%;
  height: 48px;
  background-color: #282F34;
  border: solid #282F34;
  border-width: 0 1px;
  color: white;
  text-align: center;
}

section#container {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
  border-left: solid 1px #C1C1C1;
  border-right: solid 1px #C1C1C1;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
}

iframe {
  width: 100%;
  height: 100%;
}

/* ============================================================
  LANDING PAGE
============================================================ */
section#landing {
  position: relative;
  /*left: -500px;*/
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
}

.morning {
  background-image: url("/images/background1.jpeg");
}

#logo {
  z-index: 100;
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-family: "Replica-Regular";
  font-size: 48px;
  letter-spacing: 4px;
}

#landing_box {
  position: absolute;
  top: 20vh;
  left: 55vw;
  text-align: center;
}

.button.enter {
  display: inline-block;
  width: 140px;
  margin: 0 5px;
}

/* ============================================================
  SIGN-UP/SIGN-IN PAGES
============================================================ */
section#sign {
  position: absolute;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  text-align: center;
}

.title.sign {
  width: 75%;
}

.input.sign {
  width: 75%;
}

.button.sign {
  width: 75%;
}

/* ============================================================
  NAV / LAYOUT 
============================================================ */
nav {
  width: 15%;
  height: 100vh;
  border-right: 1px solid #C1C1C1;
  float: left;
  position: fixed;
}

#nav_logo {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: "Replica-Regular";
  font-size: 30pt;
}

ul {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 100%;
}

li {
  height: 65px;
  border-right: none;
  border-left: none;
  border-top: 1px solid #C1C1C1;
  padding-left: 20px;
  padding-top: 15px;
  font-family: "Replica-Light";
  font-size: 11pt;
  letter-spacing: 2px;
}

li:hover {
  background-color: #282f34;
  color: white;
}

#wrapper {
  width: 85%;
  height: 100vh;
  margin-left: 15%;
  float: left;
}

/* ============================================================
  HAIKU BOX
============================================================ */
.haiku_box {
  position: relative;
  margin: 0 auto 50px auto;
  width: 450px;
  border: solid 1px #C1C1C1;
  text-align: center;
}

.haiku_box:first-child {
  margin-top: 100px;
}

.haiku_top {
  display: inline-block;
  border-bottom: solid 1px #C1C1C1;
  width: 350px;
  padding: 40px 0;
}

.haiku_bottom {
  margin: 10px 0 40px 0;
}

.edit_corner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  display: none;
}

.edit_corner img {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.haiku_box:hover .edit_corner {
  display: block;
}

/* ============================================================
  LIKE COUNTER
============================================================ */
.like_counter {
  margin-top: 5px;
}

.like_counter img {
  width: 20px;
  height: 20px;
}

.like_button {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: -2px;
  vertical-align: middle;
}

.like_num {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: -2px;
  border-left: solid 1px #C1C1C1;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
}

/* ============================================================
  WRITE/EDIT/SETTINGS PAGE
============================================================ */
.title.write, .title.edit, .title.settings {
  width: 50%;
}

.input.write, .input.edit, .input.settings {
  width: 50%;
}

.button.write, .button.edit, .button.settings {
  width: 50%;
}

.input.settings.date {
  width: 45%;
  padding-left: 5%;
}

.button.delete_user {
  width: 50%;
  color: #C1C1C1;
}

.button.delete_user:hover{
  background-color: #FFB1B1;
  color: white;
}
/* ============================================================
  FOLLOW MODAL
============================================================ */
/*#modal {
  position: absolute;
  z-index: 20;
}*/
