/* ============================================================
  FONTS
============================================================ */
@font-face {
    font-family: "Berthold Akzidenz Grotesk";
    src: url("/fonts/berthold akzidenz grotesk light osf.otf");
}

@font-face {
    font-family: "Replica-Regular";
    src: url("/fonts/replica regular.otf");
}

@font-face {
    font-family: "Replica-Bold";
    src: url("/fonts/replica bold.otf");
}

@font-face {
    font-family: "Replica-Light";
    src: url("/fonts/replica light.otf");
}

/* ============================================================
  GLOBAL (USED THROUGHOUT WEBSITE)
============================================================ */

p {
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 16px;
  line-height: 2em;
}

h1 {
  font-family: "Replica-Regular";
  font-size: 36px;
  line-height: 2em;
}

h2 {
  font-family: "Replica-Regular";
  font-size: 24px;
  line-height: 2em;
}

h3 {
  font-family: "Replica-Bold";
  font-size: 10px;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: black;
}

.form_title {
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-family: "Replica-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.input {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #C1C1C1;
  font-family: "Berthold Akzidenz Grotesk";
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 0;
  border: solid 1px black;
  outline: none;
  background-color: transparent;
  font-family: "Replica-Regular";
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.button:hover {
  background-color: #C1C1C1;
  color: white;
}

/* ============================================================
  LANDING PAGE
============================================================ */
section#landing {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.morning {
  background-image: url("/images/background1.jpeg");
}

#logo {
  position: absolute;
  top: 20vh;
  left: 15vw;
  font-family: "Replica-Regular";
  font-size: 48px;
  letter-spacing: 4px;
}

#landing_box {
  position: absolute;
  top: 20vh;
  left: 55vw;
  text-align: center;
}

.haiku_top {
  display: inline-block;
  border-bottom: solid 1px black;
  width: 80%;
  padding: 0 20px 20px 20px;
}

.haiku_bottom {
  margin: 10px 0 80px 0;
}

.button.sign {
  width: 140px;
  margin: 0 5px;
}

/* ============================================================
  SIGN-UP/SIGN-IN PAGES
============================================================ */
section#sign {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255,1);
  width: 500px;
  height: 100vh;
  text-align: center;
}

.sign_form {
  position: relative;
  top: 50vh;
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.form_title.sign {
  width: 75%;
  margin-bottom: 50px;
}

.input.sign {
  width: 75%;
}

.button.sign-submit {
  width: 75%;
  margin-top: 50px;
}

/* ============================================================
  HOME PAGE
============================================================ */




/* ============================================================
  NAV
============================================================ */
nav {
  position: fixed;
  bottom: 20vh;
  z-index: 10;
}

/* ============================================================
  PROFILE PAGE
============================================================ */




/* ============================================================
  WRITE PAGE
============================================================ */
#write{
/*background-color: #ccc;*/
width: 100%;
}

#form_write{
  text-align: center;
  margin-top: 10%;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  padding-top: 10%;
}

.input_write{
  margin-top: 10px;
  font-family: "Berthold Akzidenz Grotesk Light OsF";
  font-size:10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:1px solid black;
  width: 240px;
  height: 25px;
  text-align: center;
  letter-spacing: 2px;
}

#button_write{
  box-shadow: #ccc;
  background-color: #fff;
   letter-spacing: 2px;
   margin-top: 30px; 
   width: 50%;
   height: 25px;
   border:1px solid black;
   font-family: "Replica-Regular";
   font-size:12px;
   text-align: center;
}
#button_write:hover{
   letter-spacing: 2px;
   background-color: #000;
   color: #fff;
}


/* ============================================================
  SETTINGS PAGE
============================================================ */




/* ============================================================
  LIKE COUNTER
============================================================ */
.like_counter img {
  width: 30px;
}

/* ============================================================
  POST
============================================================ */
.post {
  position: relative;
}

.edit_corner {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.post:hover .edit_corner {
  display: block;
}


/* ============================================================
  FOLLOW MODAL
============================================================ */
#modal {
  position: absolute;
  z-index: 20;
}
